#container { 
	width: 80%; margin: 0 auto 0 auto; 
}

.body {
	margin-bottom:80px;
}

.navbar {

	font-size:18px;
}

a {
	text-decoration:none;
}

.size{
	font-size: 2.5em;
	margin: 2px 4px 2px 2px;
}

.navbar-brand a
{
	font-family: Merriweather;
	font-size: 50px;
	
}

.navbar-brand {
	margin-top: 30px;
}

#logo h1{
	font-size: 80px;
}

#contacts {
	float: left;
	margin-left: -200px;
}

#main {
	float: right;
width: 250px; float: right; height: 200px;

}
.footer {
	margin-top: 20px;
}


