<!DOCTYPE html> 

<html lang="en">
<head> 
	<meta http-equiv="Content-Type" content="text/xhtml; charset=UTF-8" />

	<title> Vanessa Miyasaka </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/bootstrap.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

</head>

<body>

	<div class = "navbar navbar-inverse navbar-static-top">
		
		<div class = "container">

<nav class="navbar">
    <div class="navbar-header">
		<a class="navbar-brand logo-nav" href="#">
			<img src="img/logo.png">
		</a>
	</nav>

		<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
				<span class ="icon-bar"></span>
				<span class ="icon-bar"></span>
				<span class ="icon-bar"></span>
			</button>

			<div class = "collapse navbar-collapse navHeaderCollapse">

				<ul class = "nav navbar-nav navbar-right">

			<li><a href="{{site.baseurl}}/index.html">Home</a></li>
			<li><a href="{{site.baseurl}}/materias.html">Matérias</a></li>
			<li><a href="{{site.baseurl}}/fotos.html">Fotos</a></li>
			<li><a href="{{site.baseurl}}/videos.html">Vídeos</a></li>
			<li><a href="{{site.baseurl}}/contato.html">Contato</a></li>
			</ul>

			</div>
			</div>
		</div>
	</div>

	<div class = "container">

		{{content}}

	</div> 



</div>

	<div class = "navbar navbar-default navbar-fixed-bottom"> 

		<div class = "container">

			<p class = "navbar-text pull-left"> Social Links </p>

			<a href = "http://www.youtube.com/channel/UCdakDKVPLqsKXNJ0xt-1iqw/videos" class = "navbar-btn pull-left"><i class="fa fa-youtube size"></i>  </a>

			<a href = "https://twitter.com/vmiya" class = "navbar-btn pull-left"><i class="fa fa-twitter-square size"></i> </a>
			
			<a href = "mailto:vmiyasaka@hotmail.com" class = "navbar-btn pull-left"><i class="fa fa-envelope size"></i>  </a>

			<a href = "https://www.facebook.com/vanessa.miyasaka?ref=tn_tnmn" class = "navbar-btn pull-left"><i class="fa fa-facebook-square size"></i></a>
		
		</div>

</div>

<script src = "http://ajax.googleapis.com/ajax/libs/jquery-1.10.2.min.js"></script>
<script src = "js/bootstrap.js"></script>



</body>
	<footer>

	</footer>

	
</html>