<!DOCTYPE html> 
<html lang="en">
<head> 
	<meta charset="uft-8">
	<title> Vanessa Miyasaka </title>
</head>

<header>
	<nav>
		<ul>
			<li><a href="{{site.baseurl}}/index.html">Home</a></li>
			<li><a href="{{site.baseurl}}/bibliografia.html">Bibliografia</a></li>
			<li><a href="{{site.baseurl}}/materias.html">Matérias</a></li>
			<li><a href="{{site.baseurl}}/fotos.html">Fotos</a></li>
			<li><a href="{{site.baseurl}}/videos.html">Vídeos</a></li>
			<li><a href="{{site.baseurl}}/contato.html">Contato</a></li>
			</ul>
	</nav>
</header>


<body>
	{{content}}

	</body>
</html>